*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;

    font-size: 16px;
    
    background-color: rgb(248, 219, 181);
}

body{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    padding: .5rem;
}


.Calculator{
    height: 24rem;
    width: 20rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgb(41, 41, 41);

    border-radius: .5rem;
    border: none;
    position: relative;

    box-shadow: 0rem 0rem .625rem .3125rem rgba(0, 0, 0, 0.2);
}

.close {
    height: 2rem;
    width: 2.9rem;
    position: absolute;
    top: 0;
    right: 0;
    
    border-top-right-radius: .5rem;
    border: none;

    background-color: inherit;
}
.close:hover {
    background-color: rgb(255, 0, 0);
}

.Display {
    height: 6.625rem; 
    width: 20rem;

    background-color: inherit;
    color: azure;

    border: none;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.buttons {
    height: 18.75rem;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    
    gap: .1875rem;
    padding: .3125rem;

    background-color: rgb(41, 41, 41);

    border-radius: .4375rem;
}

.buttons button{
    font-size: 1.125rem;
    /* font-weight: 100; */
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    border: none;
    border-radius: .25rem;

    background-color: rgb(61, 61, 61);
}

.buttons .equal{
    grid-column: span 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 1.5rem;
}

button {
    background-color: rgb(41, 41, 41);
    color: azure;
}

#symbols{
    background-color: rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: .9rem;
}