@font-face {
    font-family: 'symbols';
    src: url(./Segoe\ Fluent\ Icons.ttf);
}

:root {
    --calculator: rgb(31, 31, 31);
    --buttons: rgb(57, 57, 57);
    --operators: rgb(47, 47, 47);
    --text: azure;
    --close: rgb(180, 0, 0);
    --equal: rgb(215, 215, 215);
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;

    font-size: 16px;
    
    background-color: rgb(248, 219, 181);
}

body{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    padding: .5rem;
}


.Calculator{
    height: 23.88rem;
    width: 20rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--calculator);

    border-radius: .5rem;
    border: none;
    position: relative;

    box-shadow: 0rem 0rem .625rem .3125rem rgba(0, 0, 0, 0.2);
}

.close {
    height: 2rem;
    width: 2.9rem;
    position: absolute;
    top: 0;
    right: 0;

    font-size: 1.55rem;
    /* font-weight: lighter; */
    font-family:  'times new roman';
    
    border-top-right-radius: .5rem;
    border: none;

    background-color: inherit;
    color: rgb(255, 255, 255);
    opacity: 0.3;
    cursor: pointer;
}
.close:hover {
    background-color: var(--close);
    /* color: rgb(255, 255, 255); */
    opacity: 1;
}

.Display {
    height: 6.625rem; 
    width: 20rem;
    
    padding: 2.5rem .7rem 0rem;
    /* padding-top: 2rem; */

    background-color: inherit;
    color: azure;

    border: none;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    text-align: right;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.buttons {
    height: 18.75rem;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    
    gap: .1810rem;
    padding: .2500rem;

    background-color: var(--calculator);

    border-radius: .4375rem;
}

.buttons button{
    font-size: 1.125rem;
    font-weight: normal;

    color: azure;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    border: none;
    border-radius: .25rem;

    background-color: var(--buttons);
}

.buttons button:hover{
    background-color: var(--operators);
}

.buttons #equal{
    text-align: center;

    grid-column: span 2;
    font-family: 'times new roman';
    font-weight: normal;
    font-size: 1.8rem;

    background-color: var(--equal);
    color: black;
}
.buttons #equal:hover{
    opacity: .9;
}

.buttons #div, #mul, #sub, #add{
    font-family: 'symbols';
    font-size: 1.5rem;
    font-weight: lighter;
    background-color: var(--operators);
}

.buttons #ce, #c, #del{
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9rem;
    background-color: var(--operators);
}
#del {
    font-size: .8rem;
}

.buttons #ce:hover, #c:hover, #del:hover, #div:hover, #mul:hover, #sub:hover, #add:hover{
    background-color: var(--buttons);
}

